# chap_1 = print

In [1]:
print("hello world")

hello world

In [2]:
print("hello piaic")

hello piaic

In [3]:
print(123)

123

# chap_2 = variable for sting

In [1]:
name = "suleman"

In [2]:
name

'suleman'

In [4]:
variable_1= "jahangir"

In [5]:
variable_1

'jahangir'

In [6]:
type(name)

str

In [8]:
type(variable_1)

str

In [9]:
id(name)

2309146145488

In [16]:
name = "jahangir"
print(name)

jahangir

# chap_3 = variable for numbers

In [26]:
number_2 = 555.5

In [27]:
type(number)
type(number_2)

float

In [33]:
number_3 = 15.5

In [34]:
print(number)

3015

In [36]:
type(number_3)

float

In [37]:
id(number_3)

2309145733352

In [38]:
string = "string must be in quotation"
print(string)

string must be in quotation

In [42]:
father_name = "my father's name is arshad"
father_name

"my father's name is arshad"

In [43]:
num= "69"

In [44]:
type(num)

str

In [52]:
num_1 = 78.0

In [53]:
type (num_1)

float

In [56]:
num_2 = 89

In [57]:
type(num_2)

int

In [58]:
spe = "@#%*&@"

In [59]:
spe

'@#%*&@'

In [60]:
type(spe)

str

In [64]:
neg_num = -5

In [65]:
print(neg_num)

-5

# chap_4 = maths expressions:familiars operators

In [67]:
maths = 2+3
print (maths)

5

In [68]:
sub = 10-6
print (sub)

4

In [71]:
mul = 2*2
print(mul)

4

In [72]:
divide = 10/5
divide

2.0

In [80]:
print(2+2)
print(5-3)
print(10*10)
print(100//4)

4
2
100
25

In [74]:
var1 = 5
var2 = 7
var1 - var2

-2

In [75]:
var1 * var2

35

In [76]:
var1 / var2

0.7142857142857143

In [77]:
var1 + var2

12

In [81]:
10 / 3

3.3333333333333335

In [82]:
10 // 3

3

In [83]:
print("abc")
#this is a comment 
print("hghgh")

abc
hghgh

In [84]:
#this operator is called modulo and written as %
4 % 3

1

In [85]:
5 % 4

1

In [1]:
5000 % 3500

1500

In [5]:
 print (2+2)

4

In [8]:
num = 5
total = num + 4
total

9

# chap_5 = variable name legal and illegal

In [88]:
123 = "name"
#check_error

SyntaxError: can't assign to literal (<ipython-input-88-09859676f548>, line 1)

In [89]:
1abc = "name"

SyntaxError: invalid syntax (<ipython-input-89-42321c0d7768>, line 1)

In [90]:
@name = "name"

SyntaxError: invalid syntax (<ipython-input-90-349ace097ca6>, line 1)

In [91]:
nam$ = "abs"

SyntaxError: invalid syntax (<ipython-input-91-2d2dd14a0136>, line 1)

In [94]:
#number cannot come first but numbers can come in between or at last in the variable name
#special character cannot be assignes at first niether or in between nor at last, in the variable

In [95]:
my_name_is = "suleman ahmed"
my_name_is

'suleman ahmed'